WIFI_SSID      = "my_ssid"
WIFI_PASSWORD  = "change-me-wifi"
MQTT_HOST      = "mqtt"
MQTT_USER      = "device"
MQTT_PASSWORD  = "change-me-device"
MQTT_PORT      = 1883

CLIENT_ID      = "esp32-coffin-jumper-01"